@{
    ViewData["Title"] = "Delete";
}
@model Slider
<div class="content-wrapper">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/assets/images/website-images/@Model.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">@Model.Offer %</p>
                <div class="btn-box d-flex">
                    <a class="btn btn-primary mr-2" asp-action="Index">Go back</a>
                    <form method="post">
                        <button type="submit" class="btn btn-danger" asp-action="Delete">Delete</button>
                        </form>
                </div>
                
                
            </div>
        </div>
    </div>
</div>